/Milestone1/Student_Wellness_Service_WebApp/target/
/Milestone2/BCWellness_Management_System/nbproject/private/
/Milestone2/BCWellness_Management_System/build/
/Milestone2/BCWellness_Management_System/dist/
